 .container {
   background-color: rgba(165, 42, 42, 0.699);
   box-sizing: border-box;
 }

 .h3 {
   margin-top: 0%;
   margin-bottom: 1%;
   padding: 0;
   font-size: 3rem;
   width: 100%;
 }

 .img {
   height: 690px;
   width: 1100px;
   border-radius: 10%;
 }

 .btn {
   margin-right: 90rem;
   width: 15vh;
   height: 3rem;
   cursor: pointer;
   border-radius: 5%;
   background-color: #ffffffad;
   margin-right: 92rem;
   box-shadow: 0 0 0.5em 0 #f18519d8, 0 0 0.5em 0 #aa5d10;
 }

 .btn:hover {
   background-color: #1eb419;
   box-shadow: 0 0 0.5em 0 #1eb419, 0 0 0.5em 0 #aa5d10;
 }